*.pyc
*~
.sconsign.dblite

# Build folders:
src/objs
src/bin
scenes/pbrt-scenes/

# Common renderer output file:
*.exr

# These files are generated during the build process:
src/core/pbrtlex.cpp
src/core/pbrtparse.cpp
src/core/pbrtparse.hh
src/core/pbrtparse.hpp
src/core/pbrtparse.output

# Visual studio files
src/pbrt.vs*/*.sdf
src/pbrt.vs*/*.opensdf
src/pbrt.vs*/ipch
src/pbrt.vs*/*.suo
src/pbrt.vs*/*.user
src/multipole/*.sdf
src/multipole/*.opensdf
src/multipole/ipch
src/multipole/*.suo
src/multipole/*.user

# VS Build folders
tmp/
bin/
lib/
[Dd]ebug/
[Rr]elease/

# Windows garbage
desktop.ini
Thumbs.db

# Project specific
#anything in scenes is too big
scenes/PilotDataSet/
scenes/geometry/
randomwalk-probes.txt
output_scenes/
render_bulk/
#Dont't want experimental data -too large use Drive
#get rid of experiment data folder keep archive belt and braces
Experiments/ 
/ExperimentalData/
#*.bat Want these for me

# shared folder
sharedFolder/


*.obj
*.mtl
flex-2.6.0/.indent.pro
flex-2.6.0/ABOUT-NLS
flex-2.6.0/aclocal.m4
flex-2.6.0/AUTHORS
flex-2.6.0/autogen.sh
flex-2.6.0/ChangeLog
flex-2.6.0/configure
flex-2.6.0/configure.ac
flex-2.6.0/COPYING
flex-2.6.0/INSTALL
flex-2.6.0/Makefile.am
flex-2.6.0/Makefile.in
flex-2.6.0/NEWS
flex-2.6.0/ONEWS
flex-2.6.0/README
flex-2.6.0/THANKS
flex-2.6.0/TODO
flex-2.6.0/build-aux/compile
flex-2.6.0/build-aux/config.guess
flex-2.6.0/build-aux/config.rpath
flex-2.6.0/build-aux/config.sub
flex-2.6.0/build-aux/depcomp
flex-2.6.0/build-aux/install-sh
flex-2.6.0/build-aux/ltmain.sh
flex-2.6.0/build-aux/mdate-sh
flex-2.6.0/build-aux/missing
flex-2.6.0/build-aux/test-driver
flex-2.6.0/build-aux/texinfo.tex
flex-2.6.0/build-aux/ylwrap
flex-2.6.0/doc/flex.1
flex-2.6.0/doc/flex.info
flex-2.6.0/doc/flex.info-1
flex-2.6.0/doc/flex.info-2
flex-2.6.0/doc/flex.pdf
flex-2.6.0/doc/flex.texi
flex-2.6.0/doc/Makefile.am
flex-2.6.0/doc/Makefile.in
flex-2.6.0/doc/stamp-vti
flex-2.6.0/doc/version.texi
flex-2.6.0/examples/debflex.awk
flex-2.6.0/examples/Makefile.am
flex-2.6.0/examples/Makefile.in
flex-2.6.0/examples/README
flex-2.6.0/examples/testxxLexer.l
flex-2.6.0/examples/fastwc/Makefile.am
flex-2.6.0/examples/fastwc/Makefile.in
flex-2.6.0/examples/fastwc/mywc.c
flex-2.6.0/examples/fastwc/README
flex-2.6.0/examples/fastwc/wc1.l
flex-2.6.0/examples/fastwc/wc2.l
flex-2.6.0/examples/fastwc/wc3.l
flex-2.6.0/examples/fastwc/wc4.l
flex-2.6.0/examples/fastwc/wc5.l
flex-2.6.0/examples/manual/cat.lex
flex-2.6.0/examples/manual/ChangeLog
flex-2.6.0/examples/manual/dates.lex
flex-2.6.0/examples/manual/datetest.dat
flex-2.6.0/examples/manual/eof_rules.lex
flex-2.6.0/examples/manual/eof_test01.txt
flex-2.6.0/examples/manual/eof_test02.txt
flex-2.6.0/examples/manual/eof_test03.txt
flex-2.6.0/examples/manual/expr.lex
flex-2.6.0/examples/manual/expr.y
flex-2.6.0/examples/manual/front.lex
flex-2.6.0/examples/manual/front.y
flex-2.6.0/examples/manual/j2t.lex
flex-2.6.0/examples/manual/Makefile.am
flex-2.6.0/examples/manual/Makefile.examples
flex-2.6.0/examples/manual/Makefile.in
flex-2.6.0/examples/manual/myname.lex
flex-2.6.0/examples/manual/myname.txt
flex-2.6.0/examples/manual/myname2.lex
flex-2.6.0/examples/manual/numbers.lex
flex-2.6.0/examples/manual/pas_include.lex
flex-2.6.0/examples/manual/pascal.lex
flex-2.6.0/examples/manual/README
flex-2.6.0/examples/manual/reject.lex
flex-2.6.0/examples/manual/replace.lex
flex-2.6.0/examples/manual/string1.lex
flex-2.6.0/examples/manual/string2.lex
flex-2.6.0/examples/manual/strtest.dat
flex-2.6.0/examples/manual/unput.lex
flex-2.6.0/examples/manual/user_act.lex
flex-2.6.0/examples/manual/userinit.lex
flex-2.6.0/examples/manual/wc.lex
flex-2.6.0/examples/manual/yymore.lex
flex-2.6.0/examples/manual/yymore2.lex
flex-2.6.0/examples/manual/yymoretest.dat
flex-2.6.0/m4/gettext.m4
flex-2.6.0/m4/iconv.m4
flex-2.6.0/m4/intlmacosx.m4
flex-2.6.0/m4/lib-ld.m4
flex-2.6.0/m4/lib-link.m4
flex-2.6.0/m4/lib-prefix.m4
flex-2.6.0/m4/libtool.m4
flex-2.6.0/m4/lt~obsolete.m4
flex-2.6.0/m4/ltoptions.m4
flex-2.6.0/m4/ltsugar.m4
flex-2.6.0/m4/ltversion.m4
flex-2.6.0/m4/nls.m4
flex-2.6.0/m4/po.m4
flex-2.6.0/m4/progtest.m4
flex-2.6.0/po/boldquot.sed
flex-2.6.0/po/ca.gmo
flex-2.6.0/po/ca.po
flex-2.6.0/po/da.gmo
flex-2.6.0/po/da.po
flex-2.6.0/po/de.gmo
flex-2.6.0/po/de.po
flex-2.6.0/po/en@boldquot.gmo
flex-2.6.0/po/en@boldquot.header
flex-2.6.0/po/en@boldquot.po
flex-2.6.0/po/en@quot.gmo
flex-2.6.0/po/en@quot.header
flex-2.6.0/po/en@quot.po
flex-2.6.0/po/eo.gmo
flex-2.6.0/po/eo.po
flex-2.6.0/po/es.gmo
flex-2.6.0/po/es.po
flex-2.6.0/po/fi.gmo
flex-2.6.0/po/fi.po
flex-2.6.0/po/flex.pot
flex-2.6.0/po/fr.gmo
flex-2.6.0/po/fr.po
flex-2.6.0/po/ga.gmo
flex-2.6.0/po/ga.po
flex-2.6.0/po/hr.gmo
flex-2.6.0/po/hr.po
flex-2.6.0/po/insert-header.sin
flex-2.6.0/po/ko.gmo
flex-2.6.0/po/ko.po
flex-2.6.0/po/LINGUAS
flex-2.6.0/po/Makefile.in.in
flex-2.6.0/po/Makevars
flex-2.6.0/po/nl.gmo
flex-2.6.0/po/nl.po
flex-2.6.0/po/pl.gmo
flex-2.6.0/po/pl.po
flex-2.6.0/po/POTFILES.in
flex-2.6.0/po/pt_BR.gmo
flex-2.6.0/po/pt_BR.po
flex-2.6.0/po/quot.sed
flex-2.6.0/po/remove-potcdate.sin
flex-2.6.0/po/ro.gmo
flex-2.6.0/po/ro.po
flex-2.6.0/po/ru.gmo
flex-2.6.0/po/ru.po
flex-2.6.0/po/Rules-quot
flex-2.6.0/po/sr.gmo
flex-2.6.0/po/sr.po
flex-2.6.0/po/stamp-po
flex-2.6.0/po/sv.gmo
flex-2.6.0/po/sv.po
flex-2.6.0/po/tr.gmo
flex-2.6.0/po/tr.po
flex-2.6.0/po/vi.gmo
flex-2.6.0/po/vi.po
flex-2.6.0/po/zh_CN.gmo
flex-2.6.0/po/zh_CN.po
flex-2.6.0/po/zh_TW.gmo
flex-2.6.0/po/zh_TW.po
flex-2.6.0/src/buf.c
flex-2.6.0/src/ccl.c
flex-2.6.0/src/config.h.in
flex-2.6.0/src/dfa.c
flex-2.6.0/src/ecs.c
flex-2.6.0/src/filter.c
flex-2.6.0/src/flex.skl
flex-2.6.0/src/flexdef.h
flex-2.6.0/src/flexint.h
flex-2.6.0/src/FlexLexer.h
flex-2.6.0/src/gen.c
flex-2.6.0/src/gettext.h
flex-2.6.0/src/libmain.c
flex-2.6.0/src/libyywrap.c
flex-2.6.0/src/main.c
flex-2.6.0/src/Makefile.am
flex-2.6.0/src/Makefile.in
flex-2.6.0/src/misc.c
flex-2.6.0/src/mkskel.sh
flex-2.6.0/src/nfa.c
flex-2.6.0/src/options.c
flex-2.6.0/src/options.h
flex-2.6.0/src/parse.c
flex-2.6.0/src/parse.h
flex-2.6.0/src/parse.y
flex-2.6.0/src/regex.c
flex-2.6.0/src/scan.c
flex-2.6.0/src/scan.l
flex-2.6.0/src/scanflags.c
flex-2.6.0/src/scanopt.c
flex-2.6.0/src/scanopt.h
flex-2.6.0/src/skel.c
flex-2.6.0/src/sym.c
flex-2.6.0/src/tables_shared.c
flex-2.6.0/src/tables_shared.h
flex-2.6.0/src/tables.c
flex-2.6.0/src/tables.h
flex-2.6.0/src/tblcmp.c
flex-2.6.0/src/version.h
flex-2.6.0/src/yylex.c
flex-2.6.0/tests/alloc_extra.l
flex-2.6.0/tests/alloc_extra.txt
flex-2.6.0/tests/array_nr.l
flex-2.6.0/tests/array_nr.txt
flex-2.6.0/tests/array_r.l
flex-2.6.0/tests/array_r.txt
flex-2.6.0/tests/basic_nr.l
flex-2.6.0/tests/basic_nr.txt
flex-2.6.0/tests/basic_r.l
flex-2.6.0/tests/basic_r.txt
flex-2.6.0/tests/bison_nr_main.c
flex-2.6.0/tests/bison_nr_parser.y
flex-2.6.0/tests/bison_nr_scanner.l
flex-2.6.0/tests/bison_nr.txt
flex-2.6.0/tests/bison_yylloc_main.c
flex-2.6.0/tests/bison_yylloc_parser.y
flex-2.6.0/tests/bison_yylloc_scanner.l
flex-2.6.0/tests/bison_yylloc.txt
flex-2.6.0/tests/bison_yylval_main.c
flex-2.6.0/tests/bison_yylval_parser.y
flex-2.6.0/tests/bison_yylval_scanner.l
flex-2.6.0/tests/bison_yylval.txt
flex-2.6.0/tests/c_cxx_nr.lll
flex-2.6.0/tests/c_cxx_nr.txt
flex-2.6.0/tests/c_cxx_r.lll
flex-2.6.0/tests/c_cxx_r.txt
flex-2.6.0/tests/ccl.l
flex-2.6.0/tests/ccl.txt
flex-2.6.0/tests/cxx_basic.ll
flex-2.6.0/tests/cxx_basic.txt
flex-2.6.0/tests/cxx_multiple_scanners_1.ll
flex-2.6.0/tests/cxx_multiple_scanners_2.ll
flex-2.6.0/tests/cxx_multiple_scanners_main.cc
flex-2.6.0/tests/cxx_multiple_scanners.txt
flex-2.6.0/tests/cxx_yywrap.ll
flex-2.6.0/tests/cxx_yywrap.txt
flex-2.6.0/tests/debug_nr.l
flex-2.6.0/tests/debug_nr.txt
flex-2.6.0/tests/debug_r.l
flex-2.6.0/tests/debug_r.txt
flex-2.6.0/tests/extended.l
flex-2.6.0/tests/extended.txt
flex-2.6.0/tests/header_nr_main.c
flex-2.6.0/tests/header_nr_scanner.l
flex-2.6.0/tests/header_nr.txt
flex-2.6.0/tests/header_r_main.c
flex-2.6.0/tests/header_r_scanner.l
flex-2.6.0/tests/header_r.txt
flex-2.6.0/tests/include_by_buffer.direct_2.txt
flex-2.6.0/tests/include_by_buffer.direct_3.txt
flex-2.6.0/tests/include_by_buffer.direct.l
flex-2.6.0/tests/include_by_buffer.direct.txt
flex-2.6.0/tests/include_by_push.direct_2.txt
flex-2.6.0/tests/include_by_push.direct_3.txt
flex-2.6.0/tests/include_by_push.direct.l
flex-2.6.0/tests/include_by_push.direct.txt
flex-2.6.0/tests/include_by_reentrant.direct_2.txt
flex-2.6.0/tests/include_by_reentrant.direct_3.txt
flex-2.6.0/tests/include_by_reentrant.direct.l
flex-2.6.0/tests/include_by_reentrant.direct.txt
flex-2.6.0/tests/lineno_nr.l
flex-2.6.0/tests/lineno_nr.one.txt
flex-2.6.0/tests/lineno_r.l
flex-2.6.0/tests/lineno_r.one.txt
flex-2.6.0/tests/lineno_trailing.l
flex-2.6.0/tests/lineno_trailing.one.txt
flex-2.6.0/tests/Makefile.am
flex-2.6.0/tests/Makefile.in
flex-2.6.0/tests/mem_nr.l
flex-2.6.0/tests/mem_nr.txt
flex-2.6.0/tests/mem_r.l
flex-2.6.0/tests/mem_r.txt
flex-2.6.0/tests/multiple_scanners_nr_1.l
flex-2.6.0/tests/multiple_scanners_nr_2.l
flex-2.6.0/tests/multiple_scanners_nr_main.c
flex-2.6.0/tests/multiple_scanners_r_1.l
flex-2.6.0/tests/multiple_scanners_r_2.l
flex-2.6.0/tests/multiple_scanners_r_main.c
flex-2.6.0/tests/noansi_nr.l
flex-2.6.0/tests/noansi_nr.txt
flex-2.6.0/tests/noansi_r.l
flex-2.6.0/tests/noansi_r.txt
flex-2.6.0/tests/options.cn
flex-2.6.0/tests/posix.l
flex-2.6.0/tests/posixly_correct.l
flex-2.6.0/tests/prefix_nr.l
flex-2.6.0/tests/prefix_nr.txt
flex-2.6.0/tests/prefix_r.l
flex-2.6.0/tests/prefix_r.txt
flex-2.6.0/tests/pthread_1.txt
flex-2.6.0/tests/pthread_2.txt
flex-2.6.0/tests/pthread_3.txt
flex-2.6.0/tests/pthread_4.txt
flex-2.6.0/tests/pthread_5.txt
flex-2.6.0/tests/pthread.l
flex-2.6.0/tests/quotes.l
flex-2.6.0/tests/quotes.txt
flex-2.6.0/tests/README
flex-2.6.0/tests/reject.l4
flex-2.6.0/tests/reject.txt
flex-2.6.0/tests/rescan_nr.direct.l
flex-2.6.0/tests/rescan_nr.direct.txt
flex-2.6.0/tests/rescan_r.direct.l
flex-2.6.0/tests/rescan_r.direct.txt
flex-2.6.0/tests/string_nr.l
flex-2.6.0/tests/string_r.l
flex-2.6.0/tests/tableopts.am
flex-2.6.0/tests/tableopts.l4
flex-2.6.0/tests/tableopts.sh
flex-2.6.0/tests/tableopts.txt
flex-2.6.0/tests/testwrapper.sh
flex-2.6.0/tests/top_main.c
flex-2.6.0/tests/top.l
flex-2.6.0/tests/top.txt
flex-2.6.0/tests/yyextra.l
flex-2.6.0/tests/yyextra.txt
flex-2.6.0/tools/git2cl
flex-2.6.0/tools/Makefile.am
flex-2.6.0/tools/Makefile.in
bison-1.25/bison-1.25/configure.bat
render_scenes.bat
output_scenes/render_all.bat
output_scenes/render_all.bat
/scenes/normTexScenes
/scenes/textures/normTex
